jobs:
  install-node-example:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install:
          install-yarn: true
      - run: yarn install
      - run: yarn test
      # dist!
      - run: yarn dist   
    store_artifacts:
      path: dist
    store_test_results:
      path: artifacts/test-results
orbs:
  node: circleci/node@4.1.0
version: 2.1
workflows:
  test_my_app:
    jobs:
      - install-node-example
