jobs:
  install-node-example:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install:
          install-yarn: true
      - run: yarn install
      - run: yarn test
      - run: mkdir -p ./test-results/junit
      - run: npm install jest-junit
      - run: yarn --ci --reporters=jest-junit
      - store_test_results:
          path: ./test-results
orbs:
  node: circleci/node@4.1.0
version: 2.1
workflows:
  test_my_app:
    jobs:
      - install-node-example
